@import '../../../styles/base.scss';

.tour-list {
  @include block(small);
}
.tour-list__list {
  @include bare-list;
}
.tour-list__link {
  @include serif-font;
  text-decoration: none;
}
.tour-list__link:hover,
.tour-list__link:focus {
  color: $color-primary;

  .tour-list__location,
  .tour-list__place {
    color: $color-primary;
  }
}

.tour-list__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-list__date {
  @include text-medium;
  @include serif-font;
}
.tour-list__location {
  @include heading-medium;
  @include serif-font;
  color: $black;
  text-align: center;
}
.tour-list__place {
  display: inline-block;
  color: $brown;
}
.tour-list__venue {
  display: inline-block;
}
