@import '../../../styles/base.scss';

.buy-album {
  @include row-bottom();
  display: flex;
}

.buy-album__inner {
  @include constrain(medium);
  margin-left: auto;
}

.buy-album__image-container {
  // display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include bp-min(small) {
    padding-left: gap(large);
  }
  @include bp-min(large) {
    padding-left: 0;
  }
}
.buy-album__image {
  display: block;
  // flex: 1;
  // width: 100%;
}
.buy-album__caption {
  @include block(small);
  display: flex;
  flex-direction: column;
  margin-top: gap(small-medium);

  @include bp-min(small) {
    margin-left: 0;
  }
  @include bp-min(medium) {
    padding-left: 0;
  }
}

.buy-album__link-icon {
  display: flex;
  align-items: center;
  padding-left: gap(small);
  transform: rotate(0deg);
  transition: 0.2s transform;
}

.buy-album__link {
  @include heading-medium;
  @include serif-font;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: gap(small) gap(medium-large);
  color: $yellow;
  text-decoration: none;
  transition: 0.2s color;
}

.buy-album__link:hover,
.buy-album__link:focus {
  color: $color-primary;

  .buy-album__link-icon {
    transform: rotate(-16deg);
  }
}
