@import '../../../styles/base.scss';

.container {
  @include row-top(small);
  @include row-bottom(large);
  overflow-x: clip;
}

.player {
  max-width: 25rem;
  min-height: 10rem;

  @include bp-min(medium) {
    max-width: 30rem;
    min-height: 15rem;
  }
}

.playlist {
  // overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
}

$width: calc(25rem + 50vw);
$width-large: 45rem;
.playlist::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  // width: $width;
  // height: $width;
  width: 100%;
  height: 100%;
  // height: $width;
  // background-color: $color-primary;
  // border-radius: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/images/round.svg');
  background-repeat: no-repeat;
  background-size: cover;

  @include bp-min(small) {
    width: $width-large;
    height: $width-large;
  }
}

// .playlist__background {
//   overflow-x: hidden;
//   width: 100vw;
//   // height: 100%;
// }
// .playlist__background::after {
//   content: '';
//   z-index: -1;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: $width;
//   height: $width;
//   // background-color: $color-primary;
//   // border-radius: 50%;
//   transform: translate(-50%, -50%);
//   background-image: url('/images/round.svg');
//   background-repeat: no-repeat;
//   background-size: cover;

//   @include bp-min(small) {
//     width: $width-large;
//     height: $width-large;
//   }
// }

.title {
  margin-bottom: gap(large);
  color: inherit;
}

.playlist__trigger {
  display: none;
  background-color: transparent;
  color: inherit;
  border: none;
}

.playlist__list {
  @include heading-small;
  margin: 0;
  padding: 0;
  list-style: decimal-leading-zero;
}
.playlist__item {
  margin: 0 gap(large) gap(large) gap(huge);
  padding: 0;
  color: $white;
}

.playlist__streams {
  display: flex;
  align-items: center;
  margin: gap(small) 0 0;
}
.playlist__stream {
  display: flex;
  width: 3rem;
  height: 2.5rem;
  padding: gap(tiny) gap(small);

  svg {
    width: 100%;
    height: 100%;
    fill: $white;
  }

  &:hover,
  &:focus {
    svg {
      fill: $black;
    }
  }
}
